* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: serif;
    scroll-behavior: smooth;
}

header {
    background-color: white;
}
.d3-channel-name a{
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}
.d3-channel-info-right{
    display: flex;
    align-items: center;
}
.d3-channel-likes,
.d3-subscribers,
.d3-views{
    border: 1px solid grey;
    padding: 5px 10px; 
    border-radius: 5px;
    margin-right: 10px;
}

.d3-feature-img {
    width: 100%;
}


.d3-playBtn{
    position: relative;
    left: 75px;
    bottom: 90px;
    width: 70px;
    cursor: pointer;

}
.d3-video-listing-content{
    margin-top: -80px;
    color: black;
}
.d3-like-comment-view-live-count{
    margin-top: -15px;
    display: flex;
}
.d3-like-count,
.d3-comment-count{
    margin-right: 15px;
}

.d3-video-player{
    width: 80%;
    height: 60vh;
    top: 250px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
}

#d3-myVideo {
    width: 100%;
    height: 100%;
    border: 2px solid;
    background-color: black;
    
}

.d3-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.d3-shadow {
    box-shadow: 0 3px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: rgb(150, 143, 143);
}

.d3-card-update {
    border: none;
}




/* new style */

@media only screen and (min-width : 320px) {
    .d3-channel-likes span,
    .d3-subscribers span,
    .d3-views span{
        display: none;
    }
    .d3-playBtn{
        left: 135px;
        bottom: 112px;
        cursor: pointer;
    }
    .d3-video-player{
        width: 80%;
        height: 300px;
        top: 250px;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        display: none;
        z-index: 999;
    }
}

@media only screen and (min-width : 360px) {
    .d3-channel-likes span,
    .d3-subscribers span,
    .d3-views span{
    display: none;
    }

    .d3-playBtn{
        left: 125px;
        cursor: pointer;

    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 414px) {
    .d3-playBtn{
        left: 168px;
        bottom: 128px;
        cursor: pointer;
    }

}

@media only screen and (min-width : 540px) {
    .d3-playBtn{
        left: 198px;
        bottom: 138px;
        cursor: pointer;

    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 767px) {
    .d3-playBtn{
        left: 72px;
        bottom: 58px;
        width: 35px;
        cursor: pointer;

    }
    .d3-video-listing-content{
        margin-top: -50px;
    }
    .d3-video-listing-content p{
        font-size: 13px;
    }
    .d3-like-comment-view-live-count{
        font-size: 10px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .d3-playBtn{
        left: 130px;
        top: -100px;
        width: 50px;
        cursor: pointer;

    }
    .d3-video-listing-content{
        margin-top: -70px;
    }
    .d3-video-player{
        width: 80%;
        height: 500px;
        top: 320px;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        display: none;
        z-index: 999;
    }
}

/* @media only screen and (min-width : 992px) {
    .d3-playBtn{
        left: 130px;
        bottom: 100px;
        width: 50px;
        cursor: pointer;
    }
} */